<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Page</title>
    <!-- Ensure the path to the CSS file is correct -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logincss.css') }}">
</head>
<body>
    <div class="profile-form-container">
        <h2>Welcome to the Home Page, {{ user }} </h2>
        <div class="user-info">
            <p>User Information:</p>
            <ul>
                <li>Age: {{ user_age }}</li>
                <li>Height: {{ user_height }} cm</li>
                <li>Weight: {{ user_weight }} kg</li>
                <li>Gender: {{ user_gender }}</li>
                <li>Medications: {{ user_medications }}</li>
                <li>Diabetes: {{ diabetes }}</li>
            </ul>
        </div>
        
        <div class="activity-form">
            <h2>What did you do in the last 30 minutes?</h2>
            <form action="/submit-activity" method="post">
                <div class="input-group">
                    <input type="text" name="activity">
                </div>
                <div class="input-group">
                    <label for="glucose">Glucose Level (mmol/L):</label>
                    <input type="text" id="glucose" name="glucose">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>

        <div class="history-link">
            <h2>History</h2>
            <!-- The a tag is styled as a button -->
            <a href="{{ url_for('history') }}" class="button">View History</a>
        </div>


    </div>
</body>
</html>
